 body {
/*    margin: 70px 0px;*/
} 
form {
	
    border: 1px solid #ccc;
	border-radius: 2px;
    width: 30%;
    height: 470px;
    margin: 70px 420px;
    padding: 20px 22px;
}

input[type=text], [type=email], input[type=password]{
    /* width: 100%;  */
    border: 1px solid #ccc;
    margin: 8px 0;
    display: block;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 97%;
}

button {
    background-color: #1a73e8;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    display: block;
	border-radius: 2px;
	margin-left: 289px;
	margin-top: 23px;
    /* margin: 0 20px; */
/*    margin: 14px;*/
/*	padding: 18px;*/
/*	padding-right: 33px;*/
/*	margin-left: 75px;*/
/*	margin-top: 33px;*/
} 
